@import "../../index.scss";

.tasksBlock {
  width: 70%;
  margin: 10px auto;
  display: flex;
  .item {
    background-color: $orange;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 23%;
    height: 62px;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.4s;
    cursor: pointer;
    .info {
      display: flex;
      flex-direction: column;
      div span:first-child{
        color: black;
      }
      .user{
        margin: 10px 0;
        color: rgb(89, 255, 0);
      }
    }
    &:not(:first-child) {
      margin-left: 1%;
    }
    &:hover {
      height: 270px;
      .header::after {
        background: linear-gradient(180deg, transparent, transparent 100%);
      }
    }
    .header {
      width: 200px;
      overflow: hidden;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, transparent, $orange 100%);
        transition: all 0.4s;
      }
    }
  }
}
