@import "../../index.scss";

.disk {
  margin: 20px;
  width: 45%;
  @media screen and (max-width: 800px) {
    width: 90%; 
  }
  .buttons {
    display: flex;
    button {
      height: min-content;
      font-size: 16px;
      padding: 4px 16px;
      border-radius: 8px;
      border: none;
      white-space: nowrap;
      transition: 0.4s;
      &:hover {
        background-color: $w-green;
        color: #fff;
      }
    }
    .create {
      margin-left: 20px;
    }
    .file_load {
      align-self: center;
      font-weight: 600;
      label {
        color: #fff;
        border: 2px dashed $orange;
        border-radius: 8px;
        background-color: $w-green;
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 10px;
        transition: 0.4s;
        &:hover {
          background-color: #fff;
          color: $w-green;
          border: 2px dashed $w-green;
        }
      }
      input {
        display: none;
      }
    }
  }
}

.drop_area{
  width: 100%;
  height: calc(100vh - 50px - 40px);
  margin: 20px;
  border: dashed $orange 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}