@import "../../index.scss";

.users {
  margin: 0 10% 10px;
  .you {
    margin-bottom: 5px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: $b-green;
    color: $yellow;
    cursor: default;
  }
  .body {
    display: flex;
    img {
      height: 24px;
      width: 24px;
      cursor: pointer;
      filter: invert(100%);
    }
    .outher {
      margin-bottom: 5px;
      padding: 5px 20px;
      border-radius: 5px;
      background-color: $b-green;
      color: #fff;
      cursor: default;
    }
  }
  .head {
    color: #fff;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }
}
