@import "../../index.scss";

.main {
  margin-top: 60px;
  .window {
    position: relative;
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: $b-green;
    color: $yellow;
    box-sizing: border-box;
    .header {
      margin-bottom: 20px;
      display: flex;
      .info {
        display: flex;
        flex-direction: column;
        h2{
          white-space: nowrap;
          color: #fff;
        }
      }
      .image {
        border-radius: 100%;
        background-color: $w-green;
        width: 100px;
        height: 100px;
        margin-right: 40px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    .addUser {
      display: flex;
      align-items: center;
      padding: 5px 20px;
      border-radius: 8px;
      font-size: 16px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: $w-green;
        color: #fff;
      }
    }
  }
  .tasks{
    width: 70%;
    margin: 20px auto;
    color: #fff;
  }
}
