.container {
  background-color: #1f2029;
  height: 100vh;
}

.block_signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.block_two {
  height: 500px;
  width: 380px;
  padding-top: 15px;
  color: #fff;
  background-color: #2a2b38;
  border-radius: 10px;
  position: relative;
  text-align: center;
  & > img {
    height: 35px;
    filter: invert(100%);
  }
  h1 {
    font-size: 20px;
    text-align: center;
    color: #fff;
  }
  .link {
    margin-top: 40px;
    .l {
      text-decoration: none;
      color: #fff;
      transition: 0.5s;
      &:hover {
        color: #929292;
      }
    }
  }
}

.form_signUp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  input {
    height: 40px;
    width: 90%;
    margin-bottom: 5px;
    font-weight: 100;
    border-radius: 5px;
    background-color: #1f2029;
    border-right: none;
    border-bottom: none;
    color: bisque;
    padding-left: 20px;
    padding-left: 20px;
    outline: none;
  }
}

.eyeForPassword {
  position: absolute;
  top: 145px;
  right: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: invert(100%);
}

.title {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  color: #999;
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  border-radius: 100px;
  transition: 0.3s;
  &:hover {
    background-color: #359999;
    color: #fff;
  }
}

.signup_block_signUp {
  width: 10px;
}

.link > img {
  width: 28px;
  height: 25px;
  position: absolute;
  filter: invert(100);
  top: 20px;
  left: 15px;
}
