:root {
  --hue: 520;
  --sat: 400;
  --light: 41;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  .logo {
    width: 100px;
    height: 60px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    object-fit: cover;
    img {
      filter: invert(100%);
      height: 44px;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        scale: 1.1;
        filter: invert(70%);
      }
    }
  }
  .nav_top {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    ul {
      display: flex;
      align-items: center;
      width: 70%;
      list-style-type: none;
      justify-content: space-between;
      margin-right: 5%;
      .link {
        text-decoration: none;
        li {
          text-transform: uppercase;
          font-weight: 500;
          color: hsl(
            var(--hue),
            calc(var(--sat) * 1%),
            calc(var(--light) * 1%)
          );
          transition: 0.2s;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          &:hover {
            margin-bottom: 5px;
            border-bottom: 2px solid #01c38d;
          }
        }
      }
      .active {
        margin-bottom: 5px;
        border-bottom: 2px solid #01c38d;
        li {
          &:hover {
            margin-bottom: 0;
            border-bottom: 2px solid transparent;
          }
        }
      }

      .link_off {
        text-transform: uppercase;
        font-weight: 500;
        color: silver;
        border-bottom: none;
        cursor: default;
        &:hover {
          margin-bottom: 0;
          border-bottom: 0;
        }
      }
    }
  }
}
.link_mg {
  margin-left: 100px;
}
