@import "../../index.scss";

.main {
  padding-top: 80px;
  min-height: 100vh;
  background: linear-gradient(
    to right, 
    rgb(0 0 0 / 0.7), 
    rgb(0 0 0 / 0)),
    url("../../images/room-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .header {
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    margin-bottom: 30px;
    button {
      font-size: 18px;
      padding: 5px 15px;
      border-radius: 5px;
      background-color: $b-green;
      color: $orange;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
