@import "../../index.scss";

footer {
  width: 100%;
  height: 200px;
  padding: 20px 40px;
  color: #fff;
  border-top: 2px solid #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $b-blue;

  ul {
    list-style: none;
  }

  .trend,
  .contact {
    li {
      line-height: 30px;
      text-transform: uppercase;
      font-weight: 500;
      color: #fff;
      border-bottom: 2px solid transparent;
      overflow: visible;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        animation-duration: 2s;
        animation-name: li_underline;
      }
    }
  }

  .follow {
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
    }
  }
}

@keyframes li_underline {
  0% {
    border-bottom: 2px solid #01c38d;
    width: 0%;
  }

  100% {
    border-bottom: 2px solid #01c38d;
    width: 100%;
  }
}