@import "../../../index.scss";

.fileList {
  margin: 20px 0;
  .header {
    color: $yellow;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    div {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 2px;
    }
    .name {
      grid-column-start: 2;
    }
    .date {
      grid-column-start: 4;
      justify-self: center;
    }
    .size {
      grid-column-start: 5;
      justify-self: center;
    }
  }
}
