@import "../../index.scss";

.container {
  background-color: $b-blue;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;

  @media screen and (max-width: 500px) {
    display: block;
    min-height: 50vh;
    max-height: 50vh;
  }

  p {
    width: 40%;
    font-size: 36px;
    font-weight: 500;
    margin-left: 30px;

    @media screen and (max-width: 500px) {
      width: 90%;
      margin: auto;
      font-size: 16px;
    }
    @media screen and (min-width: 1400px) {
      margin-top: 150px;
    }
  }

  .img_block_1 {
    width: 40%;
    position: relative;
    margin-left: 25%;
    img {
      position: absolute;
      top: 0;
      left: -50;
      width: 250px;

      @media screen and (max-width: 500px) {
        width: 125px;
      }

      &:nth-child(2) {
        left: 80px;
        top: 150px;

        @media screen and (max-width: 500px) {
          left: 40px;
          top: 50px;
        }
      }

      &:nth-child(3) {
        left: 160px;
        top: 320px;

        @media screen and (max-width: 500px) {
          left: 80px;
          top: 100px;
        }
      }
    }
  }

  .img_block_2 {
    width: 40%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 500px) {
      width: 70%;
      margin: auto;
      display: block;
    }

    img {
      width: 100%;
      margin-left: 100px;
      object-fit: cover;

      @media screen and (max-width: 500px) {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}
.container2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  p{
    font-size: 24px;
    width: 40%;
  }
}